*,
*:after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* General styles and layout */

/*body {
	background: #2980b9;
	color: #fff;
	font-family: 'Lato', Arial, sans-serif;
}*/

.container {
	overflow: hidden;
	/* we don't want the pseudo-elements sticking out */
}

.container svg {
	display: block;
}

section.blue {
	position: relative;
	padding: 10em 10%;
	background: #2980b9;
	color: #fff;
	text-align: center;
}

section h2 {
	margin: 0;
	padding: 0;
	font-size: 2.8em;
	font-weight: 400;
}

section p .dividerStyle {
	color: rgba(0,0,0,.3);
	font-size: 1.3em;
	line-height: 1.5;
}

.text:first-child {
	text-align: right;
}

.text:nth-child(2) {
	text-align: left;
}

.col-2 .column {
	width: 49%;
}

.col-3 .column {
	padding: 0 1%;
	width: 33%;
	text-align: center;
}

.col-3 .column p {
	padding: 1.4em;
}

.column {
	display: inline-block;
	vertical-align: top;
}

.icon {
	display: block;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	background: rgba(0,0,0,.3);
	color: #fff;
	text-align: center;
	font-size: 8em;
	line-height: 2em;
	margin: 0 auto;
}

.iconNoBackground {
	color: #fff;
	text-align: left;
	font-size: 8em;
    margin-top:0px;
    vertical-align:top;
    line-height:initial;

}

section.color h2 {
	color: #fff;
}

.color {
	background: #3498db;
}

/*** Individual section styles and separators ***/

/* Common style for pseudo-elements */
section::before,
section::after {
	position: absolute;
	content: '';
	pointer-events: none;
    
}



/* Double Diagonal line */

.ss-style-doublediagonal {
	z-index: 1;
	/*padding-top: 6em;*/
	background: #2980b9;

    position: relative;
	/*padding: 10em 10%;*/
	
	color: #000000;
	/*text-align: center;*/
}

.ss-style-doublediagonal::before,
.ss-style-doublediagonal::after {
	top: 0;
	left: -25%;
	z-index: -1;
	width: 150%;
	height: 75%;
	background: inherit;
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
    overflow:hidden;
}

.ss-style-doublediagonal::before {
	height: 50%;
	background: #003366;
	-webkit-transform: rotate(-3deg);
	transform: rotate(-3deg);
	-webkit-transform-origin: 3% 0;
	transform-origin: 3% 0;
}



/* Clouds */
#clouds path {
	fill: #ecf0f1;
	stroke: #ecf0f1;
}

/* Media Queries for the layout */
@media screen and (max-width: 68em) {
	section {
		font-size: 80%;
	}
}

@media screen and (max-width: 54em) {
	.column {
		display: block;
		width: 100% !important;
	}

	.text:first-child,
	.text:nth-child(2) {
		text-align: center;
	}

	.icon {
		margin: 0 auto;
        margin-left:0px;
        font-size:4em;
	}

    .iconNoBackground{
		margin: 0 auto;
        margin-left:0px;
        font-size:4em;
	}

	.col-2 .column:first-child .icon {
		margin: 0 auto 50px;
	}

	.col-2 .column:nth-child(2) .icon {
		margin: 50px auto 0;
	}
}