@font-face {
  font-family: 'fontawesome';
  src:url('../fonts/fontawesome-webfont.eot');
  src:url('../fonts/fontawesome-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.icon:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-timelineStart:before {
   font-family: FontAwesome;
   content: "\f187";
   left: 40px;
}
.icon-timelineEnd:before {
   font-family: FontAwesome;
   content: "\f0e7";
   text-align:center;
   align-self:center;
}

@media screen and (max-width: 54em) {
    .icon-timelineEnd:before {
        text-align:left;
    }
}


